.access-denied-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
    margin-top: 100px;
    height: auto; 
}

.access-denied-container > * {
    font-size: 1.5em; 
    margin: 20px 0; 
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}


header {
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}


.access-denied-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
    margin-top: 100px;
    height: 90%;
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; 
    bottom: 0;
    width: 100%;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .access-denied-container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .button {
        padding: 8px 15px;
        font-size: 14px;
    }
}
